
#.emacs.el#
.emacs.el.~2109622f0537e5eabc580b063ff9bf03ee750504~
vifminfo
/#test.hy#
/.emacs.el~
/#.emacs.el#
/.bashrc~
/#.bashrc#
/.emacs.d/auto-save-list/
/fish/fish_variables
/.vim/.netrwhist
/.vim/temp_dirs/
/.vim/plugged/
/vifm/vifminfo.json
/.vim/autoload/
